:root {
    --blue: #1177d1;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #5cb85c;
    --teal: #20c997;
    --cyan: #2980b9;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #575967;
    --primary: #2980b9;
    --secondary: #dee2e6;
    --success: #5cb85c;
    --info: #2980b9;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --light: #f8f9fa;
    --dark: #575967;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Open Sans", Arial, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html, body {
    height: 100%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*, *::before, *::after {
    box-sizing: border-box;
}

#page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-bootswatch {
    background-color: #fff;
}

.navbar-bootswatch {
    background-color: #ff5660 !important;
    color: #fff;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    background-color: #ff5660 !important;
    color: #fff;
}

.navbar {
    max-height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

#page-wrapper #page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#page {
    margin-top: 50px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #575967;
    text-align: left;
    background-color: #fdfdfd;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

user agent stylesheet h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.coursebox > .info > .coursename a {
    display: block;
    background-image: url("/images/logo_m.png");
    background-size: 5%;
    background-repeat: no-repeat;
    padding-left: 21px;
    background-position: left 0.2em;
}

.page-header-headings h1 {
    color: #575967;
    margin: 0;
}

h1, .h1 {
    font-size: 1.78125rem;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-bottom: .5rem;
    font-family: "Oswald";
    font-weight: 300;
    line-height: 1.2;
}

